body{
    background-color: lightslategray;
}
main{
width: 650px;
margin: auto;
background-color: white;
}
.principal{
    display: flex;
}

.left{background: url(ressources/forme1.PNG);
width: 48%;
display: flex;
flex-direction: column;
background-size:auto 720px ;
background-position: top -82px left -100PX;
background-repeat: no-repeat;
}
.titre{
    margin-left: 12px;
}


.descriptionTitre p{
    font-size: 0.6rem;
    margin-left: 12px;

}
.photoProfile{
    height: 223px;
    width: 223px;
    margin-left: 12px;
    border-radius: 50%;
}
.presentationFormation{
    width: 52%;
}
.presentation{
    background: url(ressources/forme2.PNG);
    height: 368px;
    width: 100%;
    background-position:top -222px right -170px ;
    background-repeat: no-repeat;
}
.nomPrenom{
    text-align: center;
    padding-top: 120px;
    margin: 0;
    font-size: 52px;
}
.fonction{
    color: #C7998C;
    text-align: center;
}
.formation .titre{
    margin: 0;
}
.descriptionFormation p{
    margin: 1px;
    font-size: x-small;
}
.descriptionFormation h4{
    margin: 8px auto;
}
.experience .titre{
    margin-left: 0;
}
.descriptionExperience ul{
    font-size: x-small;
}
.descriptionExperience p{
    font-size: small;
}
.descriptionExperience h4{
    margin: 8px auto;
}
.competence{
    margin-top: 54px;
}
.contact{
    background: url(ressources/forme3.PNG);
    background-repeat: no-repeat;
    background-position:top -32px right -10px ;
    height: 320px;   
}
.contact h3{
margin-top: 129px;
}
.contact a {
    text-decoration: none;
    color: black;
}